table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  position: relative;
  top: 2rem;
  font-family: Lato;
  margin-left: 1rem;
}
thead {
  border-bottom: 2px solid #000;
}
th,
td {
  padding: 20px;
  text-align: center;
}
#cart-container {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
.return-link {
  position: relative;
  width: 20%;
  top: 4rem;
  text-align: center;
}
