.container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    right: 1rem;
    top:1rem
}
.badge{
    position: relative;
    top:-0.6rem;
    left: 0.9rem;
    background-color: red;
    min-width: 0.7rem;
    max-height: 0.7rem;
    border-radius: 50%;
}
.counter{
    font-size: 10px;
    position: absolute;
    font-weight: bold;
    right: 0.2rem;
  
}