#main-placeholder {
  width: 30vw;
  height: 50vh;
  background-color: #e1e1e1;
  position: absolute;
  left: 4rem;
  top: 4rem;
}
@media only screen and (min-width: 300px) and (max-width: 599px) {
  #main-placeholder {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 860px) {
  #main-placeholder {
    width: 38%;
    height: 38%;
    background-color: #e1e1e1;
    position: absolute;
    left: 4rem;
  }
}
@media only screen and (min-width: 1300px) {
  #main-placeholder {
    width: 30vw;
    height: 50vh;
    background-color: #e1e1e1;
    position: absolute;
    left: 10rem;
    top: 4rem;
  }
}
