* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin-top: 2rem;
  font-family: 'Lato';
  height: 120vh;
}
.add-button {
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Lato';
  position: relative;
  top: 5rem;
  height: 55px;
  width: 216px;
  background-color: #111111;
  border: 1px solid #000000;
  cursor: pointer;
}
.disabled-button {
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Lato';
  position: relative;
  top: 5rem;
  height: 55px;
  width: 216px;
  background-color: #bebebe;
  border: 1px solid #000000;
  cursor: not-allowed;
}
@media only screen and (min-width: 300px) and (max-width: 987px) {
  .App {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Lato';
  }
  .add-button {
    font-size: 12px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Lato';
    position: relative;
    top: 5rem;
    left: 1rem;
    height: 3.4375rem;
    width: 13.5rem;
    background-color: #111111;
    border: 1px solid #000000;
    cursor: pointer;
  }
  .disabled-button {
    font-size: 12px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Lato';
    position: relative;
    top: 5rem;
    left: 1rem;
    height: 3.4375rem;
    width: 13.5rem;
    background-color: #bebebe;
    border: 1px solid #000000;
    cursor: not-allowed;
  }
}
